<div class="panel">
  
  <div class="header">Top 3 States Users Live In</div>
  
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Data</td>
    </thead>
    <tr>
      <td><%= @first_state %></td>
      <td><%= @first_state_count %></td>
    </tr>
    <tr>
      <td><%= @second_state %></td>
      <td><%= @second_state_count %></td>
    </tr>
    <tr>
      <td><%= @third_state %></td>
      <td><%= @third_state_count %></td>
    </tr>

  </table>

</div>

<div class="panel">
  
  <div class="header">Top 3 Cities Users Live In</div>
  
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Data</td>
    </thead>
    <tr>
      <td><%= @first_city %></td>
      <td><%= @first_city_count %></td>
    </tr>
    <tr>
      <td><%= @second_city %></td>
      <td><%= @second_city_count %></td>
    </tr>
    <tr>
      <td><%= @third_city %></td>
      <td><%= @third_city_count %></td>
    </tr>

  </table>

</div>

<div class="panel">
  
  <div class="header">Top User With...</div>
  
  <table class="table">
    <thead>
      <td>Item</td>
      <td>User</td>
      <td>Quantity</td>
    </thead>
    <tr>
      <td>Highest Single Order Value</td>
      <td><%= @highest_so_name %></td>
      <td><%= @highest_so_value %></td>
    </tr>
    <tr>
      <td>Highest Lifetime Value</td>
      <td><%= @highest_lv_name %></td>
      <td><%= @highest_lv_value %></td>
    </tr>
    <tr>
      <td>Highest Average Order Value</td>
      <td></td>
      <td></td>
    </tr> 
    <tr>
      <td>Most Orders Placed</td>
      <td><%= @most_orders_placed_name %></td>
      <td><%= @most_orders_placed_value %></td>
    </tr>

  </table>

</div>