<div class="panel">
  <div class="header">Last 7 Days</div>
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Data</td>
    </thead>
    <tr>
      <td>New Users</td>
      <td><%= @week_new_users %></td>
    </tr>
    <tr>
      <td>Orders</td>
      <td><%= @week_orders %></td>
    </tr>
    <tr>
      <td>New Products</td>
      <td><%= @week_new_products %></td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td><%= @week_revenue %></td>
    </tr>
  </table>
</div>


<div class="panel">
  
  <div class="header">Last 30 Days</div>
  
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Data</td>
    </thead>
    <tr>
      <td>New Users</td>
      <td><%= @month_new_users %></td>
    </tr>
    <tr>
      <td>Orders</td>
      <td><%= @month_orders %></td>
    </tr>
    <tr>
      <td>New Products</td>
      <td><%= @month_new_products %></td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td><%= @month_revenue %></td>
    </tr>

  </table>

</div>

<div class="panel">
  
  <div class="header">All Time</div>
  
  <table class="table">
    <thead>
      <td>Item</td>
      <td>Data</td>
    </thead>
    <tr>
      <td>New Users</td>
      <td><%= @total_new_users %></td>
    </tr>
    <tr>
      <td>Orders</td>
      <td><%= @total_orders %></td>
    </tr>
    <tr>
      <td>New Products</td>
      <td><%= @total_new_products %></td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td><%= @total_revenue %></td>
    </tr>

  </table>

</div>