<section>
  <div class="col-md-9 box">
    <h3>Viking Store Users</h3>

    
    <%= link_to "Create a New User", new_user_path, class: "btn btn-primary btn-default" %>
  

    <div class="panel panel-default">

	    <table class="table">
	      <thead>
	        <tr>
	          <th>ID</th>
	          <th>Name</th>
	          <th>Joined</th>
	          <th>City</th>
	          <th>State</th>
	          <th>Orders</th>
	          <th>Last Order</th>
	          <th>SHOW</th>
	          <th>EDIT</th>
	          <th>DELETE</th>
	        </tr>
	      </thead>
	      <tbody>

	      <% @users.each do |user| %>
	        <tr>
	          <td><%= user.id %></td>
	          <td><%= "#{user.first_name} #{user.last_name}" %></td>
	          <td><%= user.created_at.strftime("%m-%d-%Y") %></td>
	          <td><%= shipping_address(user).city %></td>
	          <td><%= shipping_address(user).state %></td>
	          <td><%= user.orders.count %></td>
	          <td><%= last_order(user) %></td>
	          <td><%= link_to "show", "#" %></td>
	          <td><%= link_to "edit", "#" %></td>
	          <td><%= link_to "delete", "#" %></td>
	        </tr>
	      <% end %>
	       
	      </tbody>
	    </table>
		</div>


  </div>
</section>