<div class="col-md-9 box">
   
  <div class="col-md-12 sub-box">

    <h3>User <%="#{@user.id}: #{@user.first_name} #{@user.last_name}" %></h3>
   
    <h4>Demographic Information</h4>

    <div class="row">
      <div class="col-md-2">
        <strong>First Name</strong>
      </div>
      
      <div class="col-md-10">
        <%= @user.first_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Last Name</strong>
      </div>

      <div class="col-md-10">
        <%= @user.last_name %>
      </div>
    </div>

     <div class="row">
      <div class="col-md-2">
        <strong>Email</strong>
      </div>

      <div class="col-md-10">
        <%= @user.email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Telephone</strong>
      </div>

      <div class="col-md-10">
        <%= @user.phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Default Billing Address</strong>
      </div>

      <div class="col-md-10">
        <%= format_address(billing_address(@user)) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Default Shipping Address</strong>
      </div>

      <div class="col-md-10">
        <%= format_address(shipping_address(@user)) %>
      </div>
    </div>
 
    <%= link_to "Edit #{@user.first_name} #{@user.last_name}'s Information", edit_user_path(@user) %><br>
    <%= link_to  "Delete #{@user.first_name} #{@user.last_name}", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %><br>
    <%= link_to "View Saved Addresses", "#" %><br>
    <%= link_to "View Unplaced Order (Cart)", "#" %>
  </div>

  <div class="col-md-12 sub-box">
    <h3>Credit Card Information</h3>

    <div class="row">
      <div class="col-md-2">
        <strong>First Name</strong>
      </div>

      <div class="col-md-10">
        <%= @user.first_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Last Name</strong>
      </div>

      <div class="col-md-10">
        <%= @user.last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Number</strong>
      </div>

      <div class="col-md-10">
        <%= @user.phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Expiration</strong>
      </div>

      <div class="col-md-10">
        <%= "#{@user.credit_cards.first.expiration_month} - #{@user.credit_cards.first.experiation_year}" %>
      </div>
    </div>

    <%= link_to "Remove Card", "#" %>
  </div>

  <div class="col-md-12 sub-box">
    <h3>Admin Actions for <%="#{@user.first_name} #{@user.last_name}" %></h3>

    <%= link_to "Create Order", "#", class: "btn btn-primary btn-default" %><br>
  
    <%= link_to "Create Address", "#", class: "btn btn-primary btn-default" %>
  </div>

  <div class="col-md-12 sub-box">
    <h3>Order History</h3>

    <div class="panel panel-default">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Order Date</th>
            <th>Order Value</th>
            <th>Status</th>
            <th>SHOW</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>

        <% @user.orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at %></td>
            <td><%= "replace" %></td>
            <td><%= "replace" %></td>
            <td><%= link_to "show", "#" %></td>
            <td><%= link_to "edit", "#" %></td>
            <td><%= link_to  "delete", "#", data: { confirm: "Are you sure?" }, method: :delete %></td>
          </tr>
        <% end %>
         
        </tbody>
      </table>
    </div>

  </div>




</div>