<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Shipping Address</th>
      <th>City</th>
      <th>State</th>
      <th>Total Value</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td>
          <% if order.user %>
            <%= link_to order.user.id, admin_user_path(order.user) %>
          <% end %>
        </td>
        <td><%= order.shipping_address.try(:street_address) %></td>
        <td><%= order.shipping_address.try(:city).try(:name) %></td>
        <td><%= order.shipping_address.try(:state).try(:abbreviation) %></td>
        <td><%= number_to_currency order.order_value %></td>
        <td>
          <% if order.checkout_date %>
            <span class="text-success">PLACED</span>
          <% else %>
            <span class="text-danger">UNPLACED</span>
          <% end %>
        </td>
        <td><%= order.checkout_date.try(:stamp, '12/31/2015') %></td>
        <% if order.user %>
          <td><%= link_to 'show', admin_user_order_path(order.user, order) %></td>
          <td><%= link_to 'edit', edit_admin_user_order_path(order.user, order) %></td>
          <td><%= link_to 'delete', admin_user_order_path(order.user, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td colspan="3" class="text-center">no user</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
