<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="text-center">Account Information</h4>

    <div class="form-group">
      <%= user_fields.label :email, "Email Address" %>
      <%= field_with_errors(@user, :email) %>
      <%= user_fields.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :email, "Confirm Email" %>
      <%= field_with_errors(@user, :email) %>
      <%= user_fields.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :password %>
      <%= field_with_errors(@user, :password) %>
      <%= user_fields.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :password, "Confirm Password" %>
      <%= field_with_errors(@user, :password) %>
      <%= user_fields.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :first_name %>
      <%= field_with_errors(@user, :first_name) %>
      <%= user_fields.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :last_name %>
      <%= field_with_errors(@user, :last_name) %>
      <%= user_fields.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_fields.label :phone_number, 'Phone Number (optional)' %>
      <%= field_with_errors(@user, :phone_number) %>
      <%= user_fields.text_field :phone_number, class: 'form-control' %>
    </div>

  </div>
</div>