<h2 class="text-center">Sign Up</h1>
<br>

<%= form_for @user do |user_fields| %>
  <div class="row">
    <div class="col-sm-6">
      <%= user_fields.fields_for :addresses do |address_fields| %>

        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-center text-muted">Saved Address <%= address_fields.index + 1 %> (optional)</h4>

            <div class="form-group">
              <%= address_fields.label :street_address, 'Street Address' %>
              <%= address_fields.text_field :street_address, class: 'form-control', placeholder: '1000 St Charles Ave' %>
            </div>

            <div class="form-group">
              <%= address_fields.label :secondary_address, 'Address line 2 (optional)' %>
              <%= address_fields.text_field :secondary_address, class: 'form-control', placeholder: 'Apt A' %>
            </div>

            <div class="form-group">
              <%= address_fields.label :city_name, 'City' %>
              <%= address_fields.text_field :city_name, class: 'form-control', placeholder: 'New Orleans' %>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <%= address_fields.label :state_id %>
                  <%= address_fields.collection_select :state_id, State.all, :id, :abbreviation, {prompt: 'Select a state'}, {class: 'form-control'} %>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <%= address_fields.label :zip_code %>
                  <%= address_fields.text_field :zip_code, class: 'form-control', placeholder: '70115' %>
                </div>
              </div>
            </div>


          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="text-center text-muted">Account Information</h4>

          <div class="form-group">
            <%= user_fields.label :email, "Email Address" %>
            <%= field_with_errors(@user, :email) %>
            <%= user_fields.text_field :email, class: 'form-control', placeholder: 'jsmith@gmail.com' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :email, "Confirm Email" %>
            <%= field_with_errors(@user, :email) %>
            <%= user_fields.text_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :password %>
            <%= field_with_errors(@user, :password) %>
            <%= user_fields.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :password, "Confirm Password" %>
            <%= field_with_errors(@user, :password) %>
            <%= user_fields.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :first_name %>
            <%= field_with_errors(@user, :first_name) %>
            <%= user_fields.text_field :first_name, class: 'form-control', placeholder: 'Jane' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :last_name %>
            <%= field_with_errors(@user, :last_name) %>
            <%= user_fields.text_field :last_name, class: 'form-control', placeholder: 'Smith' %>
          </div>

          <div class="form-group">
            <%= user_fields.label :phone_number, 'Phone Number (optional)' %>
            <%= field_with_errors(@user, :phone_number) %>
            <%= user_fields.text_field :phone_number, class: 'form-control', placeholder: '504-555-1212' %>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center"><%= @user.persisted? ? 'Save Changes' : 'Complete Sign Up' %></h3>
          <br>
          <p>
            <%= user_fields.submit class: 'btn btn-primary btn-block btn-lg' %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
