<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<h3>Addresses</h3>
  <h4>Billing Addresses</h4>
  <% @user.addresses.billing.each do |address| %>
    <article>
      <p><%= address.street_1 %>,  TBD FROM A HELPER | <%= link_to 'edit WIP', '#' %></p>
    </article>
  <% end %>

  <h4>Shipping Addresses</h4>
  <% @user.addresses.shipping.each do |address| %>
    <article>
      <p><%= address.street_1 %>,  TBD FROM A HELPER | <%= link_to 'edit WIP', '#' %></p>
    </article>
  <% end %>

<h3>Orders</h3>
<p>WIP</p>
