<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<h3>Addresses</h3>
  <h4>Billing Addresses</h4>
  <% @user.addresses.billing.each do |address| %>
    <article>
      <p><%= display_address(address) %> | <%= link_to 'edit', edit_address_path(address) %></p>
    </article>
  <% end %>

  <h4>Shipping Addresses</h4>
  <% @user.addresses.shipping.each do |address| %>
    <article>
      <p><%= display_address(address) %> | <%= link_to 'edit', edit_address_path(address) %></p>
    </article>
  <% end %>

<h3>Orders</h3>
<% @user.orders.each do |order| %>
    <article>
      <p>#<%= order.id %> (<%= order.items.count %> items) | <%= link_to 'view', order_path(order) %></p>
    </article>
  <% end %>
