<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <%=link_to do %>
          <i class="fa fa-fw fa-dashboard"></i> Analytics Dashboard
      <%end%>
    </li>
    <li>
      <%=link_to do %>
        <i class="fa fa-fw fa-bar-chart-o"></i> Addresses
      <%end%>
    </li>
    <li>
      <%=link_to do %>
        <i class="fa fa-fw fa-table"></i> Orders
      <%end%>
    </li>
    <li>
      <%=link_to products_path do %>
        <i class="fa fa-fw fa-edit"></i> Products
      <%end%>
    </li>
    <li>
      <%=link_to categories_path do %>
        <i class="fa fa-fw fa-desktop"></i> Categories
      <%end%>
    </li>
    <li>
      <%=link_to do %>
        <i class="fa fa-fw fa-wrench"></i> Users
      <%end%>
    </li>

  </ul>
</div>
<!-- /.navbar-collapse -->