<!-- <div class="container"> -->

  <div class="navbar navbar-default">
    <div class="navbar-header pull-left">
      <%= link_to "LOGO", root_path, class: "navbar-brand" %>
    </div>
  <div class="navbar-header pull-left">
      
      <%= link_to "Viking Store", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-header pull-right">
      <%= image_tag "" %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to "Your Cart", :controller => "checkout", :action => "edit" %></button>
      <% if current_user %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign Out", session_path, :method => "DELETE" %></button>
      <% else %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign In", :controller => 'sessions', :action => 'new' %></button>
      <% end %>
	  </div>
  </div><!-- /nav -->
    
<!-- </div>/container -->