<!DOCTYPE html>
<html>
<head>
  <title>Viking Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
<%= render '/shared/storenav' %>
<% if current_user %>
  Logged in as <%= current_user.email %>
<% end %>

<div>
  <%= flash[:error] %><br> 
  <%= flash[:success] %><br>
</div>


<%= yield %>


</body>
</html>
