<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
  <table>
    <tr>
      <td><%= label_tag(:last_name) %></td>
      <td><%= text_field_tag(:last_name) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= password_field_tag(:email) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>

<div>
  <p>Don't have an account?</p>
  <p>Sign up <%= link_to "HERE", :action => 'signup' %></p>
</div>