<h3 class="text-center">Order History</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Order Date</th>
      <th>Order Value</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.checkout_date.try(:stamp, '12/31/2015') %></td>
        <td><%= number_to_currency order.order_value %></td>
        <td>
          <% if order.checkout_date %>
            <span class="text-success">PLACED</span>
          <% else %>
            <span class="text-danger">UNPLACED</span>
          <% end %>
        </td>
        <td><%= link_to 'show', admin_user_order_path(@user, order) %></td>
        <td><%= link_to 'edit', edit_admin_user_order_path(@user, order) %></td>
        <td><%= link_to 'delete', admin_user_order_path(@user, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
